$size: 15;
$yin: #000000;
$yang: #ffffff;

.yinYangWrapper input[type="checkbox"]:checked ~ .yinYang {
  animation: rotateBackward 1s forwards cubic-bezier(0.4, -0.6, 0.5, 1.6);
}

.yinYangWrapper input[type="checkbox"]:not(:checked) ~ .yinYang {
  animation: rotateForward 1s forwards cubic-bezier(0.4, -0.6, 0.5, 1.6);
}

@keyframes rotateForward {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateBackward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

.yinYang {
  position: relative;
  width: #{$size}rem;
  height: #{$size}rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 100px black;
  outline: 1px black dashed;
  outline-offset: 7.5px;
  font-size: calc($size * 1.0667px);

  & > div {
    position: absolute;
    height: calc(#{$size}rem / 2);
    width: #{$size}rem;
  }

  & .dividerCircle {
    position: absolute;
    border-radius: 50%;
    background: inherit;
    background-size: 200% 200%;
    width: calc(#{$size}rem / 2);
    height: calc(#{$size}rem / 2);
    z-index: 1;
  }

  & .yinBackground {
    background: $yin 0 0 / 100% 200%;
    top: 0;

    & .dividerCircle {
      background-position: 0;
      top: 50%;
      left: 0;
    }

    & .yangList {
      color: $yang;
      transform: rotate(0);
      right: 0;
      bottom: 25%;
    }

    & .yang {
      background-color: $yang;
    }
  }

  & .yangBackground {
    background: $yang -100% -100% / 100% 200%;
    bottom: 0;

    & .dividerCircle {
      background-position: 100%;
      bottom: 50%;
      right: 0;
    }

    & .yinList {
      color: $yin;
      transform: rotate(180deg);
      left: 0;
      top: 25%;
    }

    & .yin {
      background-color: $yin;
    }
  }

  & .yinList,
  & .yangList {
    position: absolute;
    list-style: none;
    width: 100%;
    z-index: 1;

    & li {
      position: relative;
      text-align: center;

      &:nth-child(1) {
        left: 0;
        font-weight: bold;
      }

      &:nth-child(2) {
        left: -12.5%;
      }

      &:nth-child(3) {
        left: -20%;
      }

      &:nth-child(4) {
        left: -25%;
      }
    }
  }

  & .yin,
  & .yang {
    position: absolute;
    border-radius: 50%;
    width: calc(#{$size}rem / 6);
    height: calc(#{$size}rem / 6);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
