.component {
  transition: box-shadow 0.25s ease-in;
  position: relative;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: var(--background-color);
  box-shadow: 0 0 0 #ffffff80;
  border: #737373 1px solid;
  border-radius: 1rem;

  @media (hover: none) {
    padding-bottom: calc(1rem + 81px);
  }

  .content {
    padding: 1rem;
  }

  &.full {
    grid-column: span 3;
    aspect-ratio: 3 / 1.5;

    @media (max-width: 1100px) {
      grid-column: span 2;
      aspect-ratio: 2 / 1.25;
    }

    @media (max-width: 670px) {
      grid-column: span 1;
      aspect-ratio: 1;
    }
  }

  .contributionHiding {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 1rem;
    transform: translateY(-50%) translateX(-50%);

    cursor: row-resize;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 5.5px;

      border: 10px solid transparent;
      border-bottom-color: var(--text-color);
    }
  }

  .contribution {
    transition:
      opacity 1s ease-in,
      padding 0.1s ease-in,
      border-top-color 0.1s ease-in;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    border-top: var(--text-color) 1px solid;
    border-radius: 12.5% 12.5% 0 0;
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--text-color);
    backdrop-filter: blur(10px);
    padding: 1rem;
    width: 100%;
    bottom: 0;
    z-index: 1000;

    &.closed {
      height: 0;
      padding: 0 1rem;
      border-top-color: transparent;
    }

    & .component_creator {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & a {
        color: var(--text-color);
        text-decoration: none;
        border-bottom: 1px dotted var(--text-color);
        width: fit-content;

        &:is(:hover, :focus) {
          outline: none;
          border-bottom: 1px solid var(--text-color);
        }
      }
    }

    & .component_date {
      text-align: right;
    }

    & .component_creator,
    & .component_date {
      flex: 1 0 20%;
      white-space: nowrap;
    }
  }

  @media (hover: none) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;

    .content {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
    }

    .contribution {
      position: sticky;
    }
  }

  @media (hover: hover) {
    .contribution {
      opacity: 0;
    }

    &:is(:hover) {
      box-shadow: 1px 1px 10px #ffffff80;

      .contribution {
        opacity: 1;
      }
    }
  }
}
