.header {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-bottom: 1px solid #444444;
  padding: 1rem 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    width: inherit;
    height: inherit;
  }

  & .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .logo {
      width: 5rem;
      height: 5rem;
    }

    @media (max-width: 403px) {
      & h1 {
        display: none;
      }
    }
  }

  & .right {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;

    @media (max-width: 992px) {
      & .search, & .filters {
        display: none;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 1rem;

      & a {
        width: 2rem;
        height: 2rem;
        color: #ffffff7f;

        &:is(:hover, :active, :focus) {
          color: white;
          outline: none;
          filter: drop-shadow(3px 5px 5px #03dc00);
        }

        &:last-child {
          height: 2.5rem;
        }

        @media (max-width: 768px) {
          &:not(:first-child) {
            display: none;
          }
        }
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  @media (min-width: 991px) {
    display: none;
  }
}

.search, .filters {
  width: 10rem;
}