.header {
  display: flex;
  flex-direction: column;
  background-color: #02060b;
  border-bottom: 1px solid #202020;
  padding: 1rem 2rem;
  box-shadow: 0 10px 100px #03dc001f;

  animation: StartUpBeam 1s cubic-bezier(0, 0.5, 1, 0.1);
}

@keyframes StartUpBeam {
  0%,
  20% {
    box-shadow: 0 100vh 100px #03dc0040;
  }
  100% {
    box-shadow: 0 10px 100px #03dc001f;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    width: inherit;
    height: inherit;
  }

  & .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .logo {
      width: 3rem;
      height: 3rem;
    }

    @media (max-width: 403px) {
      & h1 {
        display: none;
      }
    }
  }

  & .right {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;

    @media (max-width: 991px) {
      & .search,
      & .filters {
        display: none;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 1rem;

      & a {
        width: 2rem;
        height: 2rem;
        color: #ffffff7f;

        &:is(:hover, :active, :focus) {
          color: white;
          outline: none;
          filter: drop-shadow(3px 5px 5px #03dc00);
        }

        &:last-child {
          height: 2.5rem;
        }

        @media (max-width: 542px) and (min-width: 403px) {
          &:not(:first-child) {
            display: none;
          }
        }
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  @media (min-width: 992px) {
    display: none;
  }
}

.search,
.filters {
  width: 10rem;
}
