.container {
  padding: 2rem 1rem;
  max-width: min(80rem, 100%);
  margin: 0 auto;

  & .componentList {
    &:not(:has(.no-components-found)) {
      display: grid;
      gap: 2rem;

      grid-auto-flow: dense;

      grid-template-columns: 1fr 1fr 1fr;

      @media (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 670px) {
        grid-template-columns: 1fr;
      }
    }
  }

  & .noComponentsFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & span {
      text-align: center;
    }

    & button {
      padding: 0.5rem 1rem;
    }
  }

  & .loadMore {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;

    & button {
      width: 50%;
    }
  }
}
